# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Env
.env

# SQLite database files
*.sqlite
*.sqlite3
db/*.sqlite3

# Build / cache (kalau pakai)
dist/
coverage/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sw?